* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
}

*:focus {
  outline:0;
}
@import url(https://fonts.googleapis.com/css?family=Fira+Sans);

body{
  height: 600px;
  width: 400px;
}

.inline {
display: inline-block;
}

footer {
  width: 400px;
  height: 150px;
}

header {
  height: 130px;
  width: 400px;
  background-color: #deac00;
}

footer {
  background-color: #333;
}

.product {
  margin: 0px 0px 10px 0px
}

.section {
  height: 320px;
  width: 400px;
  padding: 12px 10px 30px 12px;
}
​
​
.productName, .quantity, .unitPrice, .price {
  text-align: left;
  margin-left: 5px;
  word-wrap: break-word;
}
​
.productName {
  width: 135px;
  height: 50px;
  text-overflow: ellipsis;
  background-color: red;
}
​
.quantity {
  width: 40px;
}
​
.unitPrice {
  width: 55px;
}
​
.price {
  width: 85px;
}


.checkbox-wrapper {
  position: relative;
  left: 0px;
  top: 5px;
  display: block;
  width: 25px;
  height: 25px;
  display: inline-block;
  margin: 0px 5px 0px 0px;
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  display: block;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before
{
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 20px;
  height: 20px;
  border: 2px solid #deac00;
  background: #e5c32e;
  opacity:0.5;
}

[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 20px;
  height: 20px;
  border: 2px solid #deac00;
  background: #e5c32e;
  transition: all .2s;
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: url(tick.png);
  position: absolute;
  top: 4px; left: 2px;
  color: #333;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
}

/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #ad7317!important;
}



.button, button.button {
    background: #d81313;
    font-family: 'Fira Sans', 'Fira Sans' serif;
    font-weight: 500;
    color: white;
    font-size: 24px;
    border: 0;
    border-top: 2px solid #e07b36;
    border-bottom: 2px solid #87153e;
    cursor: pointer;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.button:hover, button.button:hover {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    background: #e8371f;
    border-top: 2px solid #f2982c;
    border-bottom: 2px solid #931634;

}

.button:active, button.button:active {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    background: #9c0734;
    border-top: 2px solid #87153e;
    border-bottom: 2px solid #e07b36;
}

.button-order {
  top: 25px;
  left: 40px;
  position: relative;
}


h1 {
  width: 350px;
  font-weight: 500;
  font-size: 24px;
  position: relative;
  top: 30px;
  left: 45px;
  color: white;
  text-transform: lowercase;
}

h1::first-letter {
  text-transform: uppercase;
}

h3 {
  font-weight: 400;
  position: relative;
  top: 30px;
  left: 45px;
}

.footer-comment {
  font-weight: 300;
  color: white;
  position: relative;
  top: -25px;
  left: 40px;
}

.rm-logo {
  width: 40px;
  heigt: 60px;
  position: absolute;
  top: 40px;
  left: -12px;
}

.brighter-bg {
  background-color: #e5c32e;
  height: 130px;
  width: 90px;
  position: absolute;
  top: 0px;
  left: -50px;
}

.price-total {
  font-weight: 400;
  font-size: 54px;
  color: #deac00;
  position: relative;
  top: -30px;
  left: 205px;
}

.cents {
  color: #997a23;
  font-size: 21pt;
  vertical-align: super;
}
