body {
  background: #333;
  color: white;
  font-weight: 200;
  height: 600px;
  width: 400px;
  animation: none;
}

header {
  width: 400px;
  text-align: center;
  position: absolute ;
  left: 0px;
  top: 15px;
}

section {
  position: fixed;
  top: 130px;
  width: 400px;
  height: 470px;
  overflow-y: scroll;
  overflow-x: hidden;
}


.rm-logo {
  left: 175px;
}

h3 {
  width: 200px;
  top: 90px;
  left: 100px;
  color: black;
}

.lead {
  width: 300px;
  position: relative;
  margin: 50px 0 15px 35px;
  
  font-size: 24px;
  line-height: 30px;
}

a.lead {
  margin: 0;
}

.soon {
  width: 300px;
  position: relative;
  margin: 0 0 50px 35px;

  font-weight: 100;
  line-height: 20px;
}

.suggestion-thumbnail {
  position: relative;
  display: block;
  border: 0;
  margin: 0 0 15px 35px;
  width: 330px;
  height: 100px;
  background-image: url(graphics/suggestion-thumbnail.jpg);
  background-color: red;
  background-size: 100%;
  background-position: 0px -20px;
  transition: 0.5s ease-out;
}

.suggestion-thumbnail:hover, .suggestion-thumbnail.hover {
  background-position: 0px -100px;
  cursor: pointer;
  transition: 0.2s ease-out;
  border: none;  
}

.suggestion-thumbnail:active {
  background-position: 0px -90px;
  cursor: pointer;
  transition: 0.2s ease-out;
  border: none;  
}


.suggestion-link {
  position: relative;
  margin: 0 0 15px 35px;
}

.suggestion-price-total {
  position: relative;
  margin: 0 0 15px 130px;
  font-size: 25px;
  top: -25px;
  left: 140px;  
  font-weight: 400;
  color: #deac00;
}

.euros {
  font-size: 25px;
}

.cents {
  font-size: 7pt;
}


.suggestion-wide__wrapper{
  position: relative;
}


.suggestions-masonry { 
  position: relative;
  width: 340px;
  margin: -10px 35px 40px 35px;
  column-count: 2;
  column-gap: 10px;
}
.suggestion-masonry {  
  display: inline-block;
  width: 155px;
  margin: 0 0 30px 0px;
} 

.recipe-pic {
  display: block;
  width: 100%;
  min-height: 155px;
  background-color: rgba(0, 0, 0, 0.5);;
  margin: 0 0 10px 0px;
  border: 0;
  background-size: cover;
  background-position: -20px 00px;
  transition: 0.5s ease-out;
}


.recipe-pic:hover, .recipe-pic.hover {
  background-position: 100% 0px;
  cursor: pointer;
  transition: 1.5s ease-out;
  border: none;  
}

.recipe-pic:active {
  background-position: 100% 0px;
  cursor: pointer;
  transition: 0.2s ease-out;
  border: none;  
}


